* {
    font-family: cursive;
}

h1 {
    background-color: black;
    color: white;
}
#cloud {
    color: skyblue;
}
h2 {
    background-color: rebeccapurple;
    color: white;
    text-align: center;
    font-style: italic ;

}
h3 {
    background-color: cornflowerblue;
    text-align: right;
    text-decoration: underline;
}